body {
    background-color: #11111b;
}

* {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #cdd6f4;
    box-sizing: border-box;
}

#search {
    padding-top: 10vw;
}

#search h1 {
    margin-inline: auto;
    width: fit-content;
}

#search h1 span {
    color:#cba6f7;
}

#search_box {
    margin-inline: auto;
    width: fit-content;
}

input {
    outline: none;
    border: none;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 0.6rem 1rem;
    background-color: #313244;
    max-width: 500px;
    width: 60vw;
    border: 2px solid #6c7086;
    transition: 0.2s;
    box-shadow: #b4befe00 0px 0px 0px 0px, #b4befe00 0px 0px 0px 0px;
}

input:focus {
    border-color: #cba6f7;
    box-shadow: #b4befe2f 0px 6px 24px 0px, #b4befe53 0px 0px 0px 0px;
}

#bookmarks {
    max-width: 700px;
    width: 90vw;
    margin-inline: auto;
    margin-top: 100px;
}

#bookmarks .links {
    display: flex;
    flex-direction: row;
    height: 200px;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

#bookmarks .links div {
    width: fit-content;
}

a {
    color: #cba6f7;
}

a:hover {
    color: #b4befe;
}
